%Image::ExifTool::UserDefined = (
  'Image::ExifTool::XMP::Main' => {
    records => {
      SubDirectory => {
        TagTable => 'Image::ExifTool::UserDefined::Records'
      }
    }
  }
);

%Image::ExifTool::UserDefined::Records = (
  GROUPS => { 0 => 'XMP', 1 => 'XMP-records', 2 => 'Image' },
  NAMESPACE => { records => 'https://records.local/ns/1.0/' },
  WRITABLE => 'string',
  Important => { Writable => 'boolean' },
  PresentationColor => { Writable => 'string' },
);

1;
